* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
}

header,
nav {
  text-align: center;
}

header {
  background-color: #1c1e24;
  color: #ff6300;
  padding: 20px 0;
}

nav {
  background-color: #ff6300;
  padding: 10px 0;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #1c1e24;
}

main {
  --bg-image: url("../image/background.png");
  --bg-image-opacity: .20 ;

  padding-bottom: 20px;
  position: relative;
  isolation: isolate;
}

main::after {
  content: '';
  position: absolute;
  z-index: 1;
  inset: 0;
  opacity: var(--bg-image-opacity);
  
  background: var(--bg-image);
  background-attachment: fixed;
  background-size: 100% 100%;
}

section {
  padding: 20px;
  font-size: 20px;
}

footer {
  position: fixed;
  bottom: 0 ;
  width: 100%;
  background-color: #1c1e24;
  color: #ff6300;
  text-align: center;
  padding: 10px 0;
}

.custom-list {
  margin-left: 30px;
}

.custom-list-item {
  font-family: "Your Custom Font", Arial, sans-serif;
  font-size: 22px;
  color: #ff6300;
}

#facts {
  background-color: #1c1e24;
  color: #ff6300;
  padding: 20px;
}

#stories {
  background-color: #ff6300;
  color: #1c1e24;
  padding: 20px;  
}
